/*Style for body header*/
body header {
    background-image: url(../images/juan-manuel-nunez-mendez-y1IEnAYvMxY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    padding: 15px 15px;
}    
body header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: greenyellow;
}

/*Style for header buttons*/
header button {
    background-color: gray;
    border: none;
    color: greenyellow;
    padding: 10px 24px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 4px;
}
/*Setting different style for mouse hover over header buttons*/
header button:hover {
    background-color: green;
    color: black;
}

/*Style for body background, paragraphs, and headers*/
body {
    background-color: gainsboro;
}
body p {
    text-indent: 50px;
    text-align: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: black;
}

body h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: green;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: green;
}

/*Style for images and captions.*/
body figcaption p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border-radius: 8px;
}
/* Style for footer */
footer {
    color: black;
    font-style: italic;
    font-size: 15px;
}
footer a:link {
    color: black;
    text-decoration: underline;
}

/*Responsive rules changing header and body backgrounds when resized*/
@media only screen and (max-width: 598px) {
    body header {
        background-image: none;
        background-color: green;
    }
    body header h1 {
        text-align: left;
    }
    body {
        background-color: white;
    }
    }