body header {
    background-image: url(../images/josh-withers-76YjW4gEAsI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    padding: 15px 15px;
}    
body header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color:darkblue;
}
body {
    background-color: gainsboro;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 300;
    color: black;
}
h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    line-height: 1;
    font-weight: 300;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkblue;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border-radius: 8px;
}
body figcaption p {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}