header {
    background-image: url(../images/eric-zhang-aJmmebD4NpE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    padding: 15px 15px;

/*rule for header title*/
}
body header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
}

/*rule to make menu text left aligned*/
header nav {
    text-align: left;
}

/*rules for the menu buttons*/
header button {
    background-color: gray;
    border: none;
    color: salmon;
    padding: 10px 24px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
}

header button:hover {
    background-color: bisque;
    color: black;
}

body {
    background-color: gainsboro;
}

body h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
}

p {
    text-align: justify;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body p a:link {
    color: black;
    text-decoration: underline;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

/*responsive rules*/
@media only screen and (max-width: 598px) {
    header {
        background-image: none;
    }
    body header h1 {
        text-align: left;
    }
    body {
        background-color: white;
    }
    }