/*Style for the header*/
header {
    background-image: url(../images/eric-zhang-aJmmebD4NpE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    padding: 15px 15px;

/*Style for header title*/
}
body header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: right;
}

/*Making header menu text left aligned*/
header nav {
    text-align: left;
}

/*Style for menu buttons*/
header button {
    background-color: gray;
    border: none;
    color: salmon;
    padding: 10px 24px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
}
/*Setting different style for mouse hover over header buttons*/
header button:hover {
    background-color: bisque;
    color: black;
}
/*Background color for body*/
body {
    background-color: gainsboro;
}
/*Style for body headers*/
body h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-decoration: underline;
}

/*Style for paragraphs*/
p {
    text-indent: 50px;
    text-align: left;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

body p a:link {
    color: black;
    text-decoration: underline;
}

ul {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
ul a:link {
    color: black;
    text-decoration: underline;
}
/* Styling for footer */
footer {
    color: black;
    font-style: italic;
    font-size: 15px;
}
footer a:link {
    color: black;
    text-decoration: underline;
}

/* Rules for grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: gainsboro;
    padding: 10px;
  }
  .grid-item {
    background-color: papayawhip;
    border: 1px solid darkgray;
    padding: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
  .grid-item:hover {
      background-color: burlywood;
      font-weight: bold;
      cursor: pointer;
  }
  .grid-item a:link {
    color: black;
    text-decoration: underline;
  }

/*Responsive rules*/
@media only screen and (max-width: 598px) {
    /* To disappear header image*/
    header {
        background-image: none;
    }
    /*To change header text alignment & background color*/
    body header h1 {
        text-align: left;
    }
    body {
        background-color: white;
    }
    }

